* {
    font-family: 'Lobster';
    background-position: center;
}

.top-container {
    margin: 10px 0 10px;
    background-color: rgba(0, 162, 222, 0.7);
    max-width: 100%;
    border: 2px solid rgba(0, 162, 222, 0.2);
}

.top-container h1 {
    text-align: center;
    font-size: 50px;
    text-align: center;
    padding: 10px 0 10px;
}

.center-container {
    margin: 10px 0 10px;
    background-color: rgba(173, 174, 178, 0.428);
    font-style: oblique;
    text-align: center;
    max-width: 100%;
    border: 7px solid rgba(173, 174, 178);
}

#img1,
#img2,
#img3 {
    margin: 30px 40px 20px;
    border: 6px solid;
    border-radius: 50%;
    max-width: 100%;
    height: "auto";
}

.bottom-container {
    background-color: #f67c92;
    max-width: 100%;
    height: "auto";
}

.bottom-container h1 {
    text-align: center;
    font-size: 30px;
    font-style: oblique;
}

.bottom-container a {
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    format: none;
}